// grays
$color-white-smoke: #F5F5F5;
$color-white: #FFFFFF;

// blues
$color-baby-powder: #0680D2;
$color-maximum-blue-green: #08D0D3;
$color-turquoise-surf: #08C2D3;

// others
$color-old-lace: #fbf2e4;
$color-deep-pink: #FF56C4;
