// grays
$color-white-smoke: #F5F5F5;
$color-white: #FFFFFF;
$color-black: #000000;

// blues
$color-baby-powder: #0680D2;
$color-maximum-blue-green: #08D0D3;
$color-turquoise-surf: #08C2D3;

// others
$color-old-lace: #fbf2e4;
$color-deep-pink: #FF56C4;
$malachite-green: #63DC7E;


$box-shadow-default: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
