@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

$line-height-default: 1rem;

$font-roboto: 'Roboto', sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-small: 0.75rem;
$font-size-primary: 0.9rem;
$font-size-callout: 1rem;

$font-size-heading-1: 3rem;
$font-size-heading-2: 2rem;
$font-size-heading-3: 1rem;
