*{
  font-family: $font-roboto;
}
body{
  margin: 0 auto;
  font-size: 16px;
  background: $color-white-smoke;
}
html, body{
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

button{
  &:hover{
    cursor: pointer;
  }
}
